body,
html {
    width: 100%;
    height: 100%;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #00BFFF; 
}

.jumbotron {
	background-image: url('../static/Norway.jpg');
	background-size: cover;
	padding-top: 50px;
	height: 750px;
}

.jumbotron h1, h2 {
	text-align: center;
	color: white;
	text-shadow: 1px 1px rgba(0,0,0,0.2);
}

.jumbo-buttons {
	position: relative;
	margin: auto;
	left: 38%;
}

.line-separator {
	width: 500px;
	margin: auto;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.btn-xlg {
	padding: 50px 20px;
	margin: 7px;
	font-size: 16px;
	color: #696969;
	box-shadow: 1px 1px rgba(0,0,0,0.3);
	line-height: normal;
	-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
            border-radius: 8px;
}

.btn:hover, .btn-default:hover, .btn-xlg:hover {
	background-color: white;
	border-color: #00BFFF;
	color: #00BFFF;
}

.container h2, h3, p {
	color: #696969;
	text-shadow: none;
	text-align: left;
}

.carousel {
	height: 400px;
	min-width: 100%;
	margin: 0 auto;
}

